@page "/add-advert"
@rendermode InteractiveServer
@using Blazor.Components.Shared
@inject AdvertService ad
@inject AppState state

<PageTitle>Add advertisement</PageTitle>



<section>
    <div>
        <h1>Add advertisement</h1>
    </div>
</section>

<section>
    <div>
        <EditForm Model="@advert" OnValidSubmit="@NewAdvert" FormName="AdvertForm">
            <label>
                Image
                <InputFile OnChange="@OnFileChange" accept="image/jpeg" required />
            </label>
            <button @onclick="ClearFile" class="outline">Clear image</button>

            @if (imageMessage != null)
            {
                <p>@imageMessage</p>
            }

            <label>
                Puzzle Title
                <InputText @bind-Value="advert.Title" required />
            </label>
            <label>
                Describtion
                <InputTextArea @bind-Value="advert.Description" required/>
            </label>
            <label>
                Piece amount
                <InputNumber @bind-Value="advert.PieceAmount" step="1" required />
            </label>
            <label>
                Price
                <InputNumber @bind-Value="advert.Price" step="1" required />
            </label>
            <div class="form-group">
                <h3>Box dimensions</h3>

                <div class="form-group-contents">
                    <label>
                        Width:
                        <InputNumber @bind-Value="advert.BoxDimensions.Width" step="0.1" />
                    </label
                    <label>
                        Height
                        <InputNumber @bind-Value="advert.BoxDimensions.Height" step="0.1" />
                    </label>
                    <label>
                        Depth:
                        <InputNumber @bind-Value="advert.BoxDimensions.Depth" step="0.1" />
                    </label>
                </div>
            </div>

            <div class="form-group">
                <h3>Puzzle dimensions</h3>

                <div class="form-group-contents">
                    <label>
                        Width:
                        <InputNumber @bind-Value="advert.PuzzleDimensions.Width" step="0.1" />
                    </label>
                    <label>
                        Height:
                        <InputNumber @bind-Value="advert.PuzzleDimensions.Height" step="0.1" />
                    </label>
                </div>
            </div>

            <button type="submit">Submit</button>
        </EditForm>
        
        @if (message != null)
        {
            <p>@message</p>
        }
    </div>
</section>




@code {
    Advert advert = new();

    string message;

    string imageMessage;

    private string _fileInputKey = Guid.NewGuid().ToString();


    private async Task OnFileChange(InputFileChangeEventArgs e)
    {
        IBrowserFile file = e.File;
        if (file != null)
        {
            using MemoryStream ms = new MemoryStream();
            await file.OpenReadStream(1024 * 1024 * 5).CopyToAsync(ms);

            advert.Picture = ms.ToArray();

            imageMessage = "Image has been set";
        }
        else imageMessage = "";
    }

    private void ClearFile()
    {
        _fileInputKey = Guid.NewGuid().ToString();
        advert.Picture = null;
        imageMessage = "Image has been cleared";
    }

    private async Task NewAdvert()
    {
        advert.User = state.CurrentUser;
        advert.CreatedAt = DateTime.Now;

        await ad.AddAdvertAsync(advert);

        message = "Atvertisement has been uploaded!";
        // reset form data
        advert = new();
    }
}