@rendermode InteractiveServer
@inject AdvertService ad

<div>
    <EditForm Model="@search" OnValidSubmit="@Search" FormName="SearchField">
        <div class="search-row">
            <label>
                Search
                <InputText type="search" @bind-Value="@search.SearchText" list="search-list" @oninput="UpdateSuggetions"></InputText>
            </label>

            <datalist id="search-list">
                @if (adverts != null)
                {    
                    @foreach (Advert advert in adverts)
                    {
                        <option value="@advert.Title" label="@advert.Description"></option>
                    }
                }
            </datalist>

            <button type="submit">Search</button>
        </div>

        <div class="search-row">

            
            <label>
                Filter range
                <select @bind="@search.FilterRange">
                    <option value="Price">Price</option>
                    <option value="Pieces">Pieces</option>
                </select>
            </label>
            <label>
                From
                <InputNumber @bind-Value="search.RangeMin" min="0"></InputNumber>
            </label>
            <label>
                To
                <InputNumber @bind-Value="search.RangeMax" min="0"></InputNumber>
            </label>
            
            <label>
                Order by
                <select @bind="@search.OrderBy">
                    <option value="Price">Price</option>
                    <option value="CreatedAt">Date</option>
                    <option value="Pieces">Pieces</option>
                </select>
            </label>
            <label>
                In order
                <select @bind="@search.InOrder">
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                </select>
            </label>

            @* <p>@search.OrderBy</p>
            <p>@search.InOrder</p>

            <p>@search.FilterRange</p>
            <p>@search.RangeMin</p>
            <p>@search.RangeMax</p> *@
            
        </div>
    </EditForm>
</div>

@code {
    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    SearchParam search = new();
    List<Advert> adverts;




    private async Task Search()
    {
        adverts = await ad.GetAllAdvertsAsync(limit:5, searchTerm:search.SearchText);

        await OnSearch.InvokeAsync(search.SearchText);
    }

    private async Task UpdateSuggetions(ChangeEventArgs e)
    {
        search.SearchText = e.Value?.ToString();
        if (string.IsNullOrEmpty(search.SearchText)) {
            await Search();
            return;
        }
        adverts = await ad.GetAllAdvertsAsync(limit: 5, searchTerm: search.SearchText);
    }


    private class SearchParam
    {
        public string SearchText { get; set; }
        public string OrderBy = "CreatedAt";
        public string InOrder = "desc";
        public string FilterRange = "Pieces";
        public int RangeMin { get; set; }
        public int RangeMax { get; set; }
    }
}
