


<div class="single-advert">
    <h1>@advert.Title</h1>
    <div class="split">

        <div class="text">
            <h3>@advert.PieceAmount Pieces</h3>

            <p>
                by 
                <a href="/user/@advert.User.UserId" class="gold">@advert.User.Username</a>
            </p>

            @if (advert.IsSold)
            {
                <p class="warning">Has been sold!</p>
            }

            <p>Price: @(advert.Price)kr.</p>

            <p>@advert.Description</p>

            
            <div>
            <p>Puzzle dimensions</p>
            <p>Width: @advert.PuzzleDimensions.Width</p>
            <p>Height: @advert.PuzzleDimensions.Height</p>
            </div>
            
            <div>
            <p>Box dimensions</p>
            <p>Width: @advert.BoxDimensions.Width</p>
            <p>Height: @advert.BoxDimensions.Height</p>
            <p>Depth: @advert.BoxDimensions.Depth</p>
            </div>
            
        </div>

        <div>
            @if (advert.Picture != null)
            {                
                <img src="" data:image /jpeg;base64,@Convert.ToBase64String(advert.Picture)" alt="Alt" "" />
            }
            else {
                <img src="PuzzleBoxPlaceholder.svg" alt="Alt" />
            }
        </div>
    </div>
    
    
</div>



@code {
    [Parameter]
    public Advert advert { get; set; }
}
