@using System.Threading.Tasks
@inject AppState state
@inject AdvertService ad
@inject NavigationManager NavigationManager

<div class="single-advert">
    <h1>@advert.Title</h1>
    <div class="split">

        <div class="text">
            <h3>@advert.PieceAmount Pieces</h3>

            <p>
                by 
                <a href="/user/@advert.User.Username" class="gold">@advert.User.Username</a>
            </p>
            <p>&#9993; @advert.User.Email</p>
            <p>&#9742; @advert.User.PhoneNumber</p>

            @if (advert.IsSold)
            {
                <p class="warning">Has been sold!</p>
            }

            <p>Price: @(advert.Price)kr.</p>

            <p>@advert.Description</p>

            
            <div>
            <p>Puzzle dimensions</p>
            <p>Width: @advert.PuzzleDimensions.Width</p>
            <p>Height: @advert.PuzzleDimensions.Height</p>
            </div>
            
            <div>
            <p>Box dimensions</p>
            <p>Width: @advert.BoxDimensions.Width</p>
            <p>Height: @advert.BoxDimensions.Height</p>
            <p>Depth: @advert.BoxDimensions.Depth</p>
            </div>

            @if (state.CurrentUser != null)
                @if (state.CurrentUser.UserId == @advert.User.UserId)
                {
                    <div class="button-row">
                        <a href="/edit-advert/@advert.AdvertId" class="highlight">Edit advert</a>
                        <button onclick="document.getElementById('delete-confirm').showModal()" class="warning">Delete advert</button>
                    </div>
                }
        </div>

        <div>
            @if (advert.Picture != null)
            {                
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(advert.Picture)" alt="Alt" />
            }
            else {
                <img src="PuzzleBoxPlaceholder.svg" alt="Alt" />
            }
        </div>
    </div>
    
    
</div>

<dialog id="delete-confirm">
    <h3>Delete advert</h3>
    <p>Are you sure you want to delete this advert?</p>

    <div class="button-row">
        <button class="outline" onclick="document.getElementById('delete-confirm').close()">Cancel</button>
        <button class="warning" @onclick="DeleteAdvert">Delete</button>
    </div>
</dialog>


@code {
    [Parameter]
    public Advert advert { get; set; }


    private async Task DeleteAdvert()
    {
        await ad.DeleteAdvertAsync(advert.AdvertId);

        NavigationManager.NavigateTo($"/user/{advert.User.Username}");
    }
}
